<% provide(:title, "Class Schedule") %>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Class Schedule Files</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Class Schedule</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="col-12 col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Class Schedule</h3>
    </div>
    <div class="card-body">
      <table id='scheduleFilesTable' class='table table-striped table-sm'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Uploaded At</th>
            <th>Download</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% @class_schedule_files.each do |file| %>
            <tr>
              <td><%= file.name %></td>
              <td><%= file.created_at.strftime('%b %d, %Y') %></td>
              <td>
                <% if file.class_schedule_file.attached? %>
                  <%= link_to 'Download', rails_blob_path(file.class_schedule_file, disposition: 'attachment'), class: 'btn btn-sm btn-primary' %>
                <% else %>
                  No file
                <% end %>
              </td>
              <td>
                <% if file.class_schedule_file.attached? %>
                  <%= link_to 'View', class_schedule_with_file_path(file), class: 'btn btn-sm btn-info', target: '_blank' %>
                <% else %>
                  No file
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 