<!-- app/views/layouts/pdf.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HEUC | Student Copy</title>
  <%= wicked_pdf_stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' %>
</head>
<body>
  <%= yield %>
</body>
</html>